.wrapperHeader {
    width: 100%;
    position: absolute;
    top: 2rem;
    z-index: 10;
}

.wrapperHeaderBurger {
    display: none;
}

@media (max-width: 768px) {
    .wrapperHeader {
        top: 1rem;
    }

    .wrapperHeaderMain {
        display: none;
    }

    .wrapperHeaderBurger {
        display: flex;
    }
}