.main,
.background {
    width: 100%;
    height: 37rem;
}

.main {
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    z-index: -1;
}

.title {
    width: var(--widthComputer);
    color: var(--colorMainTextWhite);
    font-size: calc(32px + (96 - 32) * (100vw - 480px) / (1920 - 480));
    text-shadow: 0 0 2px black;
}

@media (max-width: 1600px) {
    .title {
        width: var(--width1600);
    }
}

@media (max-width: 1250px) {
    .title {
        width: var(--width1250);
    }
}

@media (max-width: 900px) {
    .main,
    .background {
        height: 30rem;
    }
}

@media (max-width: 768px) {
    .main {
        justify-content: center;
        align-items: center;
    }

    .title {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .main,
    .background {
        height: 15rem;
    }
}
