.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerHotel {
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.25rem;

  display: flex;
  gap: 2rem;
  justify-content: space-between;

}