$grey: #9A7243;
$blue: #96CFD2;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $grey;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $blue;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $grey;
  }
}

@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 6px solid transparent;
  animation: rotate linear 3s infinite;
}

.main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUp {
  height: 100vh;
  background-color: var(--colorBackground);


  position: fixed;
  z-index: 1000;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 15rem;
  height: 15rem;
  display: block;
  overflow: hidden;

  div {
    height: 100%;
  }
}

.loader1,
.loader1 div {
  @include loaderDivMixin;
  border-top-color: $grey;
  border-bottom-color: $blue;
}

.loader div:hover {
  animation-play-state: paused;
}

.loader,
.loader * {
  will-change: transform;
}