.main {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--colorMain2);

    display: flex;
    flex-direction: column;
}

.firstContainer, .secondContainer {
    width: var(--widthComputer);
    margin: 0 auto;
}

.firstContainer {
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapperSecondContainer {
    width: 100%;
    border-top: 1px solid #7e7e7e;
}

.secondContainer {
    padding-top: 2rem;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--colorMainTextBlack);
}

.column, .columnsContacts {
    display: flex;
    flex-direction: column;
}

.column a {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--colorMainTextBlack);
    margin-bottom: 0.5rem;
}

.column a:hover {
    font-weight: bold;
}

.subTitleContacts {
    color: var(--colorSeconderyTextBlack);
    margin-bottom: 0.25rem;
}

.address {
    font-size: 1.25rem;
}


/* second container*/

.columnsSecondContainer {
    display: flex;
}

.columnsSecondContainer p {
    margin-right: 2rem;
}

.columnsSecondContainer img {
    margin-left: 1rem;
}

.columnsSecondContainer img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media (max-width: 1600px) {
    .firstContainer, .secondContainer {
        width: var(--width1600);
    }
}

@media (max-width: 1250px) {
    .firstContainer, .secondContainer {
        width: var(--width1250);
    }
}

@media (max-width: 1100px) {
    .title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .column a {
        font-size: 1rem;
    }

    .address {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .firstContainer {
        grid-template-areas:
            "column1 column3 column3"
            "column2 column3 column3";
        justify-content: space-between;
    }

    .column:nth-child(1) {
        grid-area: column1;
    }

    .column:nth-child(2) {
        margin-top: 1rem;
        grid-area: column2;
    }

    .column:nth-child(3) {
        grid-area: column3;
        margin-left: 1rem;
    }

    .columnsSecondContainer p {
        margin-right: 1rem;
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .firstContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "column1"
            "column2"
            "column3";
        justify-content: space-between;
    }

    .column:nth-child(2) {
        margin-top: 1rem;
        padding-top: 1rem;
        grid-area: column2;
        border-top: 1px solid var(--colorMain);
    }

    .column:nth-child(3) {
        grid-area: column3;
        margin-left: 0;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid var(--colorMain);
    }


    .secondContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .columnsSecondContainer:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .columnsSecondContainer p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .columnsSecondContainer img {
        margin-right: 1rem;
        margin-left: 0;
    }
}

